#  Examen

## 1) Crea un Dataframe de 10 registros y 6 columnas y consigue las 5 primeros y los 5 ultimos registros

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 6))
df
print("Primeros 5",df.head(5))
print("Ultimos 5",df.tail(5))

Primeros 5           0         1         2         3         4         5
0 -2.255482 -2.631127 -0.535861  0.149509  0.525326  0.030972
1 -1.529606 -0.236199  0.379490  0.012129 -1.114005  1.259697
2  0.303244 -1.911051 -1.390377  1.058855  1.297473  0.465019
3  2.070818  0.720077 -0.737440 -0.463662  1.168892  0.606478
4  1.035139 -0.329873  1.091673 -1.151555 -0.005744  1.085021
Ultimos 5           0         1         2         3         4         5
5 -0.415075  0.109193 -2.449950 -0.434277 -1.052266 -1.455230
6  0.105202  1.583555  1.439092 -3.156568 -1.478350  0.827135
7 -0.773798  1.556809  1.802279  0.136789 -1.174610 -0.101359
8 -1.802400 -0.862445  1.730647 -0.910889 -0.214818 -1.635740
9 -0.343079  0.564470  0.710771  0.940014  0.631579  0.680248

## 2) Crear un dataframe pasando un arreglo de numpy de 6 x 4 con una fecha como indice y con columnas A, B, C, D randomico

```
                   A         B         C         D
2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
2013-01-02  1.212112 -0.173215  0.119209 -1.044236
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804
2013-01-04  0.721555 -0.706771 -1.039575  0.271860
2013-01-05 -0.424972  0.567020  0.276232 -1.087401
2013-01-06 -0.673690  0.113648 -1.478427  0.524988
```

In [6]:
from datetime import datetime
from datetime import date

df = pd.DataFrame(np.random.randn(6, 4))
df.columns=['A','B','C','D']
def nueva_fecha():
    fecha=datetime.now()
    formateada= f"{fecha.year}-{fecha.month}-{fecha.day}"
    return formateada
df.index=[nueva_fecha(),nueva_fecha(),nueva_fecha(),nueva_fecha(),nueva_fecha(),nueva_fecha()]
df

                  A         B         C         D
2020-9-22 -1.311113  0.402686 -0.198771  1.257439
2020-9-22 -0.870053  1.079998 -0.542575 -1.971745
2020-9-22 -0.771225  0.620825  0.556000  0.275494
2020-9-22 -0.160553  0.544045  0.373224 -0.133750
2020-9-22 -0.342127  0.235199 -1.117937  1.961661
2020-9-22 -1.030666  0.368304  0.930317 -0.932319

## 4) Crear un Dataframe con 10 registros y 6 columnas y con una propiedad del Dataframe mostrar las columnas, con otro comando mostrar los valores.

In [7]:
df = pd.DataFrame(np.random.randn(10, 6))
df.columns=["A","B","C","D","F","E"]
print("Columnas",df.columns)
print("valores",df.values)

Columnas Index(['A', 'B', 'C', 'D', 'F', 'E'], dtype='object')
valores [[ 0.29118367  0.91347683 -0.16479473 -0.01285445  0.33945399  1.11138371]
 [ 1.31083663  0.0234556  -1.14790001  0.86030266 -0.25581322 -0.82868249]
 [-1.52977094  0.95267186 -0.30545105  0.35135505 -0.28427861 -0.31903644]
 [ 0.26934027  1.46988268  1.1055949  -0.56289557 -1.23081774  0.10695825]
 [-1.02595438  1.35778675  0.12386552 -0.96896479  1.06488879 -0.65957192]
 [-1.0797968  -0.75407145  1.1970076   0.02405703 -1.15226835  1.11610989]
 [ 0.79957598  0.87598148 -1.06928429  1.58113409  1.08939689  0.15710861]
 [ 0.2879583  -2.04565072 -0.18772504  0.38649114 -0.74548734  1.75323764]
 [ 1.26281074 -1.93722077 -0.65568623 -0.15149681 -0.76288073 -0.1961924 ]
 [-0.62943497 -0.14145855  0.1106837   0.45304539 -2.21372364  0.10039391]]

## 5) Crear un Dataframe con 10 registros y 6 columnas y con una funcion del Dataframe describir estadisticamente el Dataframe

In [8]:
df = pd.DataFrame(np.random.randn(10, 6))
df.describe()

               0          1          2          3          4          5
count  10.000000  10.000000  10.000000  10.000000  10.000000  10.000000
mean   -0.337467   0.369819   0.261569  -0.286277   0.183546   0.161422
std     0.850974   0.548548   0.819089   1.092873   1.088883   0.865194
min    -1.831501  -0.586525  -0.978251  -2.478813  -1.652240  -1.230850
25%    -0.713466  -0.031281  -0.390161  -0.718468  -0.721062  -0.425750
50%    -0.579885   0.403168   0.346046  -0.399441   0.355634   0.136742
75%    -0.012982   0.854195   0.625843   0.524419   1.081691   0.731960
max     1.311776   1.000561   1.762759   1.306980   1.611504   1.603885

## 6) Crear un Dataframe con 10 registros y 6 columnas y con una funcion del Dataframe transponer los datos

In [9]:
df = pd.DataFrame(np.random.randn(10, 6))
print('Data frame')
print(df)
print('Dataframe Transpuesto')
print(df.transpose())

Data frame
          0         1         2         3         4         5
0 -1.369113 -0.638205  0.413912 -0.602274 -0.821640 -1.563926
1  1.205753 -0.100598 -0.407470 -0.080828 -0.729837 -0.281218
2  0.422564 -1.043844 -1.215734  0.163953 -0.676108 -0.584971
3 -0.573480 -0.133461  0.044775 -0.094683  2.861438  0.504657
4 -0.209868 -1.096974 -0.299658  0.268034 -1.207494  0.159205
5  0.153567 -0.538920 -0.118914 -0.804731  0.970437  1.858238
6 -1.229752  0.438239 -0.401063 -0.812035 -1.666467  0.185637
7 -1.435890  1.770281 -0.931464 -1.138346 -0.379945 -0.632470
8 -0.337471 -0.503263 -0.350016 -0.353075  0.955576 -0.161273
9 -2.370848 -1.114766  1.279395  0.722070 -1.146143 -0.754892
Dataframe Transpuesto
          0         1         2         3         4         5         6  \
0 -1.369113  1.205753  0.422564 -0.573480 -0.209868  0.153567 -1.229752
1 -0.638205 -0.100598 -1.043844 -0.133461 -1.096974 -0.538920  0.438239
2  0.413912 -0.407470 -1.215734  0.044775 -0.299658 -0.118914 -0.401063
3 -0.602274 -0.080828  0.163953 -0.094683  0.268034 -0.804731 -0.812035
4 -0.821640 -0.729837 -0.676108  2.861438 -1.207494  0.970437 -1.666467
5 -1.563926 -0.281218 -0.584971  0.504657  0.159205  1.858238  0.185637

          7         8         9
0 -1.435890 -0.337471 -2.370848
1  1.770281 -0.503263 -1.114766
2 -0.931464 -0.350016  1.279395
3 -1.138346 -0.353075  0.722070
4 -0.379945  0.955576 -1.146143
5 -0.632470 -0.161273 -0.754892

## 7) Crear un Dataframe con 10 registros y 6 columnas y Ordenar el dataframe 1 vez por cada columna, ascendente y descendente

In [10]:
df = pd.DataFrame(np.random.randn(10, 6))
df.columns=["A","B","C","D","F","E"]
print("Data frame normal\n",df)
print("Data frame ordenado ascendete por columna\n ",df.sort_values(['A'],ascending=True))
print("Data frame ordenado descendente por columna\n ",df.sort_values(['B'],ascending=False))

Data frame normal
           A         B         C         D         F         E
0  1.347648  0.386956  0.037618  1.680915 -1.073560  0.338897
1 -0.957396  0.479426 -0.117201  0.015317  1.165938  1.349753
2  0.454298 -2.151351  0.127367 -0.248705 -0.057412  1.669302
3  1.024790  0.240490  0.096728 -0.882988  0.633684 -1.022206
4 -1.337006  0.252836  0.354644 -0.502971 -0.000636  0.153608
5  1.641188 -0.351406 -0.389038  0.519108  0.147603 -0.686434
6  1.069636  1.120920 -0.886196  0.049359  0.428722  0.843709
7 -0.946980 -0.903994  1.147734 -0.284935  0.175402  0.220851
8 -1.002030  0.407034 -0.856932 -1.831047 -0.333634  0.415777
9  1.648063  1.738361  1.498151 -0.574960 -0.037079 -1.588073
Data frame ordenado ascendete por columna
            A         B         C         D         F         E
4 -1.337006  0.252836  0.354644 -0.502971 -0.000636  0.153608
8 -1.002030  0.407034 -0.856932 -1.831047 -0.333634  0.415777
1 -0.957396  0.479426 -0.117201  0.015317  1.165938  1.349753
7 -0.946980 -0.903994  1.147734 -0.284935  0.175402  0.220851
2  0.454298 -2.151351  0.127367 -0.248705 -0.057412  1.669302
3  1.024790  0.240490  0.096728 -0.882988  0.633684 -1.022206
6  1.069636  1.120920 -0.886196  0.049359  0.428722  0.843709
0  1.347648  0.386956  0.037618  1.680915 -1.073560  0.338897
5  1.641188 -0.351406 -0.389038  0.519108  0.147603 -0.686434
9  1.648063  1.738361  1.498151 -0.574960 -0.037079 -1.588073
Data frame ordenado descendente por columna
            A         B         C         D         F         E
9  1.648063  1.738361  1.498151 -0.574960 -0.037079 -1.588073
6  1.069636  1.120920 -0.886196  0.049359  0.428722  0.843709
1 -0.957396  0.479426 -0.117201  0.015317  1.165938  1.349753
8 -1.002030  0.407034 -0.856932 -1.831047 -0.333634  0.415777
0  1.347648  0.386956  0.037618  1.680915 -1.073560  0.338897
4 -1.337006  0.252836  0.354644 -0.502971 -0.000636  0.153608
3  1.024790  0.240490  0.096728 -0.882988  0.633684 -1.022206
5  1.641188 -0.351406 -0.389038  0.519108  0.147603 -0.686434
7 -0.946980 -0.903994  1.147734 -0.284935  0.175402  0.220851
2  0.454298 -2.151351  0.127367 -0.248705 -0.057412  1.669302

## 8) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 y seleccionar en un nuevo Dataframe solo los valores mayores a 7

In [11]:
df=pd.DataFrame(np.random.randint(1, 11,60).reshape(10,6))
df.columns=["A","B","C","D","F","E"]
df=df.where(df>7)
df

      A     B    C     D     F     E
0   NaN   8.0  NaN   NaN   NaN  10.0
1   9.0   NaN  NaN   NaN   NaN   NaN
2   NaN   NaN  NaN   9.0   9.0   9.0
3  10.0  10.0  NaN   NaN   9.0  10.0
4   NaN   NaN  NaN  10.0  10.0   NaN
5   NaN   NaN  NaN   NaN   NaN   NaN
6   NaN  10.0  NaN   NaN   NaN   NaN
7   NaN   9.0  NaN   NaN  10.0   8.0
8   NaN   NaN  8.0   9.0   8.0   NaN
9   NaN   9.0  NaN   NaN   9.0   8.0

## 9) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 o valores NaN. Luego llenar los valores NaN con 0.

In [12]:
print("Dataframe con NAN \n",df)
df = df.replace(np.nan, 0)
print("\nDataframe remplazado NAN con 0\n",df)

Dataframe con NAN
       A     B    C     D     F     E
0   NaN   8.0  NaN   NaN   NaN  10.0
1   9.0   NaN  NaN   NaN   NaN   NaN
2   NaN   NaN  NaN   9.0   9.0   9.0
3  10.0  10.0  NaN   NaN   9.0  10.0
4   NaN   NaN  NaN  10.0  10.0   NaN
5   NaN   NaN  NaN   NaN   NaN   NaN
6   NaN  10.0  NaN   NaN   NaN   NaN
7   NaN   9.0  NaN   NaN  10.0   8.0
8   NaN   NaN  8.0   9.0   8.0   NaN
9   NaN   9.0  NaN   NaN   9.0   8.0

Dataframe remplazado NAN con 0
       A     B    C     D     F     E
0   0.0   8.0  0.0   0.0   0.0  10.0
1   9.0   0.0  0.0   0.0   0.0   0.0
2   0.0   0.0  0.0   9.0   9.0   9.0
3  10.0  10.0  0.0   0.0   9.0  10.0
4   0.0   0.0  0.0  10.0  10.0   0.0
5   0.0   0.0  0.0   0.0   0.0   0.0
6   0.0  10.0  0.0   0.0   0.0   0.0
7   0.0   9.0  0.0   0.0  10.0   8.0
8   0.0   0.0  8.0   9.0   8.0   0.0
9   0.0   9.0  0.0   0.0   9.0   8.0

## 10) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 y sacar la media, la mediana, el promedio

In [13]:
df=pd.DataFrame(np.random.randint(1, 11,60).reshape(10,6))
print('Promedio , Media')
print(df.mean())

print(' Mediana')
print(df.median())

Promedio , Media
0    6.3
1    4.6
2    5.2
3    5.5
4    5.4
5    4.2
dtype: float64
 Mediana
0    7.0
1    5.0
2    5.0
3    5.5
4    5.5
5    4.0
dtype: float64

## 11) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10, luego crear otro dateframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 y anadirlo al primer Dataframe

In [14]:
df1=pd.DataFrame(np.random.randint(1, 11,60).reshape(10,6))
df2=pd.DataFrame(np.random.randint(1, 11,60).reshape(10,6))
print("Dataframe 1 \n\n",df1)
print("\nDataframe 2 \n\n",df2)
df12=df1.append(df2)
print("\nLos 2 dataframes juntos\n\n",df12)

Dataframe 1

    0  1   2   3   4  5
0  1  4   1   6   3  1
1  6  8  10   2   5  7
2  4  7   4  10   2  3
3  6  8   3   4  10  4
4  7  4  10   4  10  1
5  6  8   6   6   6  8
6  4  6   5   7   3  8
7  4  9   6   7   9  9
8  5  4  10   9   8  7
9  2  6   4   2   6  8

Dataframe 2

     0   1  2   3   4   5
0   7   9  5   1  10  10
1   6  10  3   6   5  10
2   2   7  2   5   9  10
3   5   7  4   6   4   8
4  10   6  1   6  10   5
5   9   3  8  10  10   9
6   8   2  8   9   6   7
7   2  10  6  10   1   5
8   9   9  2   8   1   1
9   6   5  4   4   3   3

Los 2 dataframes juntos

     0   1   2   3   4   5
0   1   4   1   6   3   1
1   6   8  10   2   5   7
2   4   7   4  10   2   3
3   6   8   3   4  10   4
4   7   4  10   4  10   1
5   6   8   6   6   6   8
6   4   6   5   7   3   8
7   4   9   6   7   9   9
8   5   4  10   9   8   7
9   2   6   4   2   6   8
0   7   9   5   1  10  10
1   6  10   3   6   5  10
2   2   7   2   5   9  10
3   5   7   4   6   4   8
4  10   6   1   6  10   5
5   9   3   8  10  10   9
6   8   2   8   9   6   7
7   2  10   6  10   1   5
8   9   9   2   8   1   1
9   6   5   4   4   3   3


## 12) Crear un Dataframe con 10 registros y 6 columnas llenas de strings. Luego, unir la columna 1 y 2 en una sola, la 3 y 4, y la 5 y 6 concatenando su texto.

In [15]:
import string
import random
def string_aleatorio():
    ar=np.arange(6)
    st=""
    for i in ar:
        
        letra=random.choice(string.ascii_letters)
        #print(letra)
        st=st+letra
    return st

In [19]:
arr=np.array([string_aleatorio(),string_aleatorio(),string_aleatorio(),string_aleatorio(),string_aleatorio(),string_aleatorio(),string_aleatorio(),string_aleatorio(),string_aleatorio(),string_aleatorio()])
df = pd.DataFrame({'A':arr ,'B':arr,'C':arr,'D':arr,'E':arr,'F':arr,})
dfr=df
dfr['A']=  df['A']+df['B']
dfr['B']=  df['C']+df['D']
dfr['C']=  df['E']+df['F']
dfr

              A             B             C       D       E       F
0  bjHMumbjHMum  bjHMumbjHMum  bjHMumbjHMum  bjHMum  bjHMum  bjHMum
1  CPjhpLCPjhpL  CPjhpLCPjhpL  CPjhpLCPjhpL  CPjhpL  CPjhpL  CPjhpL
2  YgvdyeYgvdye  YgvdyeYgvdye  YgvdyeYgvdye  Ygvdye  Ygvdye  Ygvdye
3  qjYXOyqjYXOy  qjYXOyqjYXOy  qjYXOyqjYXOy  qjYXOy  qjYXOy  qjYXOy
4  fLENPLfLENPL  fLENPLfLENPL  fLENPLfLENPL  fLENPL  fLENPL  fLENPL
5  jdIMBfjdIMBf  jdIMBfjdIMBf  jdIMBfjdIMBf  jdIMBf  jdIMBf  jdIMBf
6  xtcSxPxtcSxP  xtcSxPxtcSxP  xtcSxPxtcSxP  xtcSxP  xtcSxP  xtcSxP
7  URdKemURdKem  URdKemURdKem  URdKemURdKem  URdKem  URdKem  URdKem
8  cmNgRMcmNgRM  cmNgRMcmNgRM  cmNgRMcmNgRM  cmNgRM  cmNgRM  cmNgRM
9  xtNfFoxtNfFo  xtNfFoxtNfFo  xtNfFoxtNfFo  xtNfFo  xtNfFo  xtNfFo

## 13) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 enteros, obtener la frecuencia de repeticion de los numeros enteros en cada columna

In [ ]:
df = pd.DataFrame(np.random.randint(1, 11,60).reshape(10,6), columns=list('ABCDEF'))
print(df)

for i in df:
    print('\n Frecuencia '+i)
    print(df[i].value_counts())

## 14) Crear un Dataframe con 10 registros y 3 columnas, A B C, llenas de números randomicos del 1 al 10 enteros. Crear una nueva columna con el calculo por fila (A * B ) / C

In [ ]:
df = pd.DataFrame(np.random.randint(1, 11,30).reshape(10,3), columns=list('ABC'))
df['operacion'] = (df['A'] * df['B'] ) /  df['C']
df